.TodoSearch {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border-radius: 8px;

  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.35);
}

.TodoSearchInput {
  background: #F9FBFC;
  border-radius: 8px;
  border: 2px solid #202329;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearchInput:focus {
  outline-color: #61DAFA;
}

.IconSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  color: #6d6d6d;
  /* background-color: #CCC; */
}